.parallax {
    /* Full height */
    height: 100%;
    margin-top: -40px;
    /* The image used */

    background-image: url("../images/fon.jpg");
    background-repeat: no-repeat;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.head-window {
  height: 250px;
}

.head-window h2 {
  position: absolute;
  top: 20%;
  left: 10%;

  margin: 0px;

  color: white;
}

/*start feedback*/
.feedback input, .feedback textarea {
  border-radius: 0px;
}

.feedback input[type='submit'] {
  background-color: #1F618D;
}
/*end feedback*/


/*grid*/
.system{
	margin: 20px 0;
}
.system h1{
	line-height: 22px;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
	margin-left: 10px;
}
.system p{
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

@media  screen and (max-width : 774px) {
	.clients img{
		width: 100%;
	}

}

/*end grid*/
